---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "Notes on mechanical sympathy and data structures.",
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
